<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Farm</title>
</head>

<body>
    <h1>Edit Farm</h1>
    <form action="/farms/<%=farm._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Farm Name</label>
            <input type="text" name="name" id="name" placeholder="farm name" value="<%=farm.name %>">
            <label for="city">City</label>
            <input type="text" name="city" id="city" placeholder="farm city" value="<%=farm.city %>">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email" value="<%=farm.email %>">
            <button>Submit</button>
        </div>

        
    </form>

    <a href="/farms/<%=farm._id%>">Cancel</a>

    <a href="/farms">Home</a>

</body>

</html>